{% extends "base.html" %}
{% block content %}


<div class='col-sm-6 col-sm-offset-3'>
    <h1>{{ title }}</h1>

<form method='GET' action='' class='row'>
        <div class='col-sm-6'>
            <div class='input-group'>
                <input class="form-control" type="text" name="searchquery" placeholder="Search posts" value="{{ request.GET.searchquery }}">
                <span class='input-group-btn'>
                    <!-- <input class='btn btn-default' type='submit' value='Search' /> -->
                    <input class="btn btn-default" type="submit" name="" value="Search">
                </span>
            </div>
        </div>
</form>

{% for obj in object_list %}
<div class="row">
  <div class="col-sm-12">
    <div class="thumbnail">
        {% if obj.image %}
         <img src='{{ obj.image.url }}' class='img-responsive' />
        {% endif %}
      <div class="caption postdetail_item">
                <h3><a href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a> <small>{{ obj.timestamp|timesince}}</small></h3>
                {{ obj.get_markdown|truncatechars_html:120 }}<br/>
                <p><a href="{{ obj.get_absolute_url }}" class="btn btn-primary" role="button">View</a></p>
        </div>
    </div>
  </div>
<hr/>
</div>
{% endfor %}


<div id="pagg">
  <nav aria-label="...">
      <ul class="pager" class="pagination">
          {% if object_list.has_previous %}
            <li><a href="?page={{ object_list.previous_page_number }}&searchquery={{ request.GET.searchquery }}">previous</a></li>
          {% endif %}

          {% if object_list.has_next %}
            <li><a href="?page={{ object_list.next_page_number }}&searchquery={{ request.GET.searchquery }}">next</a> {% endif %}</li>
      </ul>
  </nav>
</div>
</div>

{% endblock content %}
